*{
    display:grid;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body,html{
    height:100%;
}
body{
    font-family:Poppins, sans-serif;
}
a{
    color:inherit;
}

/* .about-footer{

} */
.about-footer{
    display:flex;
    flex-flow:column wrap;
    justify-content: space-between;
    max-width:100%;
    padding:15px;
    background-color: #323544;
    color:#fff;
    text-decoration: none;
    /* get rid of underline MOVE THIS LATER */
    a{
        text-decoration:none;
    }
    h4{
        margin-bottom:25px;
    }
img{
    


}
.about{
    max-width:80%;
    margin-bottom:25px;
}
}

.copyright{
    display:flex;
    align-items: center;
    min-height:35px;
    padding:0px;
    background-color:#212330;
    color:#fff;
    
}