// ==========================================================================
// BUTTONS
// ==========================================================================
.btn{
    cursor: pointer;
    text-align: center;
    color:#fff;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 3px;
    white-space: normal;
  }
  .btn-banner{
    height:50px;
    padding:5px 20px;
    border-radius:3px;
    background-color: $purple;
    line-height: 50px;
    font-size:1.2rem;
    width:208px;
    margin-left:auto;
    margin-right:auto;
    text-transform: uppercase;
  }
  #google-blue{
    margin-right:8px;
    margin-bottom:8px;
    float:left;
  }
  #google-blue, #trust-green{
    display:block;
    width:208px;
    height:45px;
    text-align: center;
    padding-top:10px;
    padding-bottom:0px;
  }
  #trust-green{
    width:208px;
    float:inline-start;
  }
  #google-blue:hover{
    background-color: $dark-blue;
  
  }
  #trust-green:hover{
    background-color: $dark-green;
  }
  .button-green{
    background-color: $green;
    border:1px solid transparent;
  }
  .button-blue{
    background-color:$blue;
    border:1px solid transparent;
  }
  
  .button-red{
    background-color:$red;
    border:1px solid transparent;
  }
  .button-radicalred{
    background-color:#F62459;
    border:1px solid transparent;
  }
  .button-valencia{
    background-color:#D64541;
    border: 1px solid transparent;
  }
  .button-black{
    background-color:#272936;
    border:1px solid transparent;
    transition: 0.3s;
  }
  .button-black:hover{
    background-color: #000;
    color:#fff;
  }
  .button-hoki{
    background-color:#67809F;
    border:1px solid transparent;
  }
  .button-purple{
    background-color:#926FB1;
    border:1px solid transparent;
  }
 
  .button-punch{
    background-color:#CE4125;
    border:1px solid transparent;
  }
  #label-checkmark{
    cursor:pointer;
  }
  // .checkbox{
  //   border-radius: 3px;
  //   color: currentColor;
  //   border: 3px solid #333645;
  //   height: 32px;
  //   width: 32px;
  //   position: relative;
  //   float: left;
  //   margin-right: 20px;
  // }
  // .checkbox-surround > input{
  //   position: absolute;
  // opacity: 0;
  // cursor: pointer;
  // height: 0;
  // width: 0;
  // }
///////////////////////////////////
/// CHECKBOX
.telephone{
  background-color:transparent;
  border:0px;
}
.button-h{
display:inline-block;
height:46px;
padding:5px 15px;
border:1px;
border-radius:3px;
font-size: 1.125rem;
text-transform: uppercase;
}

// .button-h > span {
  .button-header-text{
  font-family:Poppins, sans-serif;
  text-transform:uppercase;
  font-size:1.125rem;
  line-height:46px;
  color:$white;
}
.button-h{
  [class^="icon-"]::before {
    color:$white;
    margin-right: 5px;
  font-size: 23px;
  float: left;
  line-height: 43px;
  }
}
.support, .contact{
  display:none;
}

@media (max-width:562px){
  .btn-banner{
    margin-top:0px;
  }
  .banner-text{
    margin-top:0px;
  }
  .banner-heading{
    margin-bottom:0px;
  }
}
@media (min-width:563px){
  .btn-banner{
    margin-top:30px;
  }
}
@media (min-width:992px)
{

.support, .contact{
  display:inline-block;
  color:$white;
}
.support{
  background-color: $blue;
  margin-left: auto;
}
.search-submit{
  margin-left:0px;
}
.contact{
background-color: $manatee;

}

.btn-banner{
  align-self:start;
  margin-left:0px;
  margin-right:0px;
  margin-top:30px;
  margin-bottom:18px;
}
}