// ==========================================================================
// ICON IMPORTS
// ==========================================================================
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pr74gk');
  src:  url('../fonts/icomoon.eot?pr74gk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pr74gk') format('truetype'),
    url('../fonts/icomoon.woff?pr74gk') format('woff'),
    url('../fonts/icomoon.svg?pr74gk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-paperplane:before {
  content: "\e91f";
}
.icon-handshake:before {
  content: "\e915";
}
.icon-code:before {
  content: "\e91e";
}
.icon-code-b:before {
  content: "\e91e";
}
.icon-code-1:before {
  content: "\e91e";
  margin-left:25px;
}
.icon-question-mark:before {
  content: "\e91d";
}
.icon-shopping-cart:before {
  content: "\e914";
}
.icon-flask:before {
  content: "\e921";
}
.icon-transfer:before {
  content: "\e905";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-phone:before {
  content: "\e942";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e91b";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-checkmark:before {
  content: "\ea10";
  // color: $white;
  // display: none;
  // font-size: 18px;
  // padding-left: 6px;
  // padding-top: 8px;
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-envelope:before {
  content: "\e923";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-hdd-o:before {
  content: "\e919";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-trending-up:before {
  content: "\e90d";
}
.icon-arrow-shuffle:before {
  content: "\e90e";
}
.icon-group:before {
  content: "\e90f";
}
.icon-file_copy:before {
  content: "\e911";
}
.icon-wifi_calling:before {
  content: "\e912";
}
.icon-chat:before {
  content: "\e90b";
}
.icon-monitor:before {
  content: "\e90c";
}
.icon-security:before {
  content: "\e900";
}
.icon-security-h:before {
  content: "\e900";
}
.icon-phone_in_talk:before {
  content: "\e901";
}
.icon-phone_in_talk-b:before {
  content: "\e901";
  font-size: 32px;
  color: $tuna;
}
.icon-menu:before {
  content: "\e913";
}
.icon-bar-graph:before {
  content: "\e902";
}
.icon-phone-b:before {
  content: "\e942";
}
.icon-display-b:before {
  content: "\e956";
}
.icon-mobile-b:before {
  content: "\e958";
}
.icon-search-b:before {
  content: "\e986";
  color: #fff;
  background-color: #999aa2;
}
.icon-search-h:before{
  content: "\e986";
}
.icon-star:before {
  content: "\e9d9";
}
.icon-laptop:before {
  content: "\e904";
}
.icon-laptop-b:before {
  content: "\e904";
}
.icon-scholar:before {
  content: "\e903";
}
.icon-scholar-b:before {
  content: "\e903";
}
.icon-cogs:before {
  content: "\e91c";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-money:before {
  content: "\e918";
}
.icon-pencil:before {
  content: "\e917";
}
.icon-ticket:before {
  content: "\e916";
}
.icon-phone-square:before {
  content: "\e922";
}
.icon-mouse:before {
  content: "\e920";
}
// ==========================================================================
// INDEPENDENT ICONS
// ==========================================================================
// Images


// Base Icons
.icon-ours{
  display:inline-block;
  color:#fff;
  font-size: 32px;
  padding:15px;
  border-radius:50%;
  margin:0px auto 17px;
}
.icon-laptop{
  background-color:$hoki;
}

.icon-display{
  background-color:$blue;
}
.icon-bar-graph{
  background-color:$green; 
}
.icon-phone_in_talk{
  background-color: $valencia;
}


.icon-code{
  background-color: $purple;
}

.icon-security{
  background-color: $radical-red;
}

.icon-scholar{
  background-color: $red;
}

.stars{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  gap:5px;
}

.icon-search{
  font-size: 24px;
  font-weight: 400;
  color: #333645;
  background-color: transparent;
  position:relative;
  top:10px;
  right:10px;

}
///////////////////////////////////////////////////////////////////////
//HEADER ICONS
///////////////////////////////////////////////////////////////////////




//Nav-bar
.icon-laptop-h:before {
  content: "\e904";
  color:$hoki;
}
.icon-display-h:before {
  content: "\e956";
  color:$blue;
}
.icon-bar-graph-h:before {
  content: "\e902";
  color:$green;
}
.icon-phone-h:before{
  content: "\e901";
  color:$valencia
}
.icon-code-h:before {
  content: "\e91e";
  color:$purple;
}
.icon-code-b:before {
  content: "\e91e";
  color:$white;
}
.icon-security-h:before {
  content: "\e900";
  color:$radical-red;
}
.icon-scholar-h:before {
  content: "\e903";
  color:$red;
}

.nav:hover > [class^="icon-"] {
  color: $white;
}




.icon-hamburger:before {
  content: "\e913";

}
// FOOTER ICONS


.min-logo{
  margin-left:30px;
  margin-bottom:10px;
  border-radius:50%;
  }


  .nm-logo-med{
width:250px;
position:relative;
top:1px;
left:1px;
  } 
@media (min-width:480px){
  .nm-logo-med{width:320px;
  }
  .icon {
    margin-right:10px;
    margin-bottom: 10px;
  }
}

.nm-logo-black{
  max-width: 100%;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  margin-right:auto;
}  

.color-logo, .mono-logo{
  height:70px;
}

 
// @media (max-width:375px){
//   .nm-logo-black{
//     max-width:200px;
//   }
// }
@media (min-width:768px){
  .telephone{display:none}
  .nm-logo-black{
    max-width: 345px;
  }
}
@media (min-width:992px){
  .nm-logo-black{
  position: relative;
  left: 0;
  }
}
  @media (max-width:1259px){
    icon{
    padding: 12px 22px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}
  }