// ==========================================================================
// BODY
// ==========================================================================
html{
  font-size: 16px;
}
body{   
    display:inherit;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    line-height:1.42857143;
    letter-spacing: .4px;
    text-align:center;
    color: #666;
    background-color:#fffffe;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: visible;
    overflow-x: hidden;
  }

  a{
    color:inherit;
    text-decoration:none;
}
.a-ul{
    text-decoration:underline;
    text-align:start;
  }
  .about{
    max-width:80%;
    margin-bottom:25px;
}
p{
line-height: 1.875rem;
margin-bottom: 25px;
}
.quote{
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
}
.cite, .cite-company{
  font-weight: 600;
  font-size: 1.1rem;
}
.cite{
  color: #a3a8ac;
}

/* headings */
h1,h2,h3,h4,h5,h6{
    padding:1.5vh 0;
    text-transform:capitalize;
  }
  h2{  
    font-size: 32px;
    font-weight:600;
  }
  h3{
    font-size:26px;
    font-weight:400;
    margin-bottom:24px;
  }
  .no-margin{
    margin:0;
  }
  h4{
    font-weight:400;
    margin:25px 0;
  }
  



  // ///////////////////////////
  // COLOURS
  //////////////////////////////
  $white:             #fff;

  $hoki:              #67809F; //Bespoke Software
  $hoki-hover:        #526781; //Nav bar Bespoke Software
  $blue:              #4183d7; //It Support, Google Reviews, Read more buttons
  $dark-blue:         #166AF4; //Google:hover
  $blue-hover:        #286abd; //It support

  $purple:            #926FB1; //Web design, Button Purple
  $purple-hover:      #735093; //Web hover

  $green:             #00b67b; //Digital Marketing, trustpilot
  $dark-green:        #009B69; //trustpilot:hover
  $green-hover:       #25A25A; //Nav bar Digital Marketing
  $green-button:      #2ecc71;
  $green-button-hover:#26AB5F;
  $red:               #ce4125; // Developer Training 
  $red-hover:         #A3331D; // Dev hover
  $valencia:          #D64541; //Telecoms Services
  $valencia-hover:    #BC2C28; //
  $radical-red:       #F62459; //Cyber Security
  $radical-red-hover :#DE093F; //
  

  $black:             #272936; //Black buttons
  $black-hover:       #121318; //Black buttons hover
  $dark-black:        #000;    //Black buttons hover
  $footer:            #212330;
  $grey:              #ddd;    //email container
  $border:            #CECECE; //
  $mercury:           #E5E5E5; //search-bar
  $tuna:              #333645; //base container background + buttons before hover.
  $manatee:           #999AA2; //Icons (search + contact)
  $waterloo:          #84858F; //search + contract hover
  // Social media colours

  $linked-in:         #0077B5; //
  $facebook:          #3B5998; //
  $twitter:           #00ACED; //
  $instagram:         #D93175; //
 
///////////////////////////////////////////////////////////////////////////////////
/// Media Query
/// //////////////////////////////////////////////////////////////////////////////

@media (max-width:767px)
{
  // body{
  //   padding-left:15px;
  //   padding-right:15px;
  // }
  
  
}


@media (min-width:992px){
html {
  font-size: 16px
}

.h1,h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0;
  color: $tuna
}

.h2,h2 {
  font-size: 2rem;
}


.h2,.h3,.h4,h2,h3,h4 {
  font-weight: 400;
  margin: 0 0 15px;
  color: $tuna
}
.sub-menu-banner-title{
  color:$white;
}
.h3,.h4,h3,h4 {
  font-size: 1.25rem
}

.h3,h3 {
  font-size: 1.625rem
}

.h4,h4 {
  font-size: 1rem
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px
}
}