body {
  display: inherit;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.42857143;
  letter-spacing: .4px;
  text-align: center;
  color: #666;
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.a-ul {
  text-decoration: underline;
  text-align: start;
}

.about {
  max-width: 80%;
  margin-bottom: 25px;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}

.quote {
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
}

cite {
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  padding: 1.5vh 0;
  text-transform: capitalize;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 24px;
}

.no-margin {
  margin: 0;
}

h4 {
  font-weight: 400;
  margin: 25px 0;
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  body {
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
  }
  .h1, h1 {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0 0 28px;
    color: #333645;
  }
  .h2, h2 {
    font-size: 2rem;
  }
  .h2, .h3, .h4, h2, h3, h4 {
    font-weight: 400;
    margin: 0 0 15px;
    color: #333645;
  }
  .sub-menu-banner-title {
    color: #fff;
  }
  .h3, .h4, h3, h4 {
    font-size: 1.25rem;
  }
  .h3, h3 {
    font-size: 1.625rem;
  }
  .h4, h4 {
    font-size: 1rem;
  }
  p {
    line-height: 1.875rem;
    margin-bottom: 25px;
  }
}

.header-high {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

.search-high {
  display: none;
}

.nav-bar {
  display: none;
}

.nav-item {
  margin-top: -15px;
  list-style: none;
  text-align: left;
  padding: 0;
  width: 33%;
  margin-top: 15px;
}

.search-low {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  border: 1px #ccc;
}

.search-box {
  height: 44px;
  padding: 5px 15px 5px;
  border: 1px 0 1px 1px #999AA2;
  background-color: #E5E5E5;
  flex-grow: 1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.search-box:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

.search-submit {
  position: relative;
  top: 1px;
  display: inline-block;
  font-size: 23px;
  width: 63px;
  height: 56px;
  padding: 7px 20px 3px;
  background-color: #999aa2;
  border: none;
  border-radius: 0 3px 3px 0;
}

.header-low-logo {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-phone_in_talk2 {
  font-size: 32px;
}

.mw {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100vw;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sub-menu-banner {
  width: 100%;
  display: none;
  text-align: left;
  position: absolute;
}

.triangle {
  display: none;
}

.banner-main {
  margin-left: -1px;
  width: auto;
}

.banner {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* *************************************** */
  background: url(../images/banner/banner.png) center/cover no-repeat #000;
  background-blend-mode: hard-light;
  text-align: center;
  position: relative;
  border: 1px solid #7E808A;
  height: 550px;
  width: 100%;
  color: #fff;
}

.banner .banner-heading {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  color: #fff;
  font-weight: 600;
}

.banner .banner-text {
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.banner .button-purple {
  display: flex;
  max-width: fit-content;
  align-items: center;
  align-content: center;
  align-self: center;
  margin-top: 50px;
}

.nav:hover [class^="icon-"]::before {
  color: #fff;
}

.nav:hover .sub-menu {
  padding: 30px;
  top: 19px;
  width: 100vw;
}

.nav:hover .icon-hover {
  color: #fff;
}

.nav:hover .icon-hover {
  color: #fff;
}

.sub-menu-banner a:hover {
  text-decoration: underline;
}

.our-services .viewourwork {
  visibility: hidden;
}

.our-services h2 {
  font-size: 43.2px;
  font-weight: 600;
  line-height: 47.52px;
  color: #333645;
  text-align: start;
  margin: 25px 0px 0px;
}

.our-services h3 {
  font-size: 26px;
  margin: 0 0 15px;
  color: #333645;
}

@media (min-width: 767px) {
  .header-high {
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .search-high {
    display: contents;
  }
  .search-submit {
    position: inherit;
    margin-left: -15px;
  }
  .header-low {
    display: none;
  }
  .search {
    display: inline-flex;
    width: 174px;
    justify-content: flex-end;
    border: 1px #ccc;
  }
  .search-box {
    width: 142px;
    padding: 5px 15px;
    border: 1px 0 1px 1px #999AA2;
  }
  .search-box:focus {
    border-color: #de5b5b;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
  }
}

@media (min-width: 992px) {
  .bottom-header {
    background-color: #333645;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
  }
  .nav-bar span {
    font-size: 1.125rem;
  }
  .nav-bar small {
    font-size: .625rem;
  }
  .nav-bar > div {
    flex-basis: 100%;
    padding: 19px 0 18px;
  }
  .nav > a {
    padding: 19px 0 18px;
  }
  .nav [class^="icon-"] {
    font-size: 23px;
  }
  .nav:hover .sub-menu-banner {
    display: block;
    left: 0;
  }
  .nav:hover .triangle {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 70px 36px 70px;
    border-color: transparent transparent #FF4532 transparent;
    transform: rotate(180deg);
    position: absolute;
    z-index: 2;
    margin-top: 17px;
  }
  .nav:hover .sub-menu {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-top: -33px;
    list-style: none;
    text-align: left;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    padding: inherit;
  }
  .bespoke-ul {
    background-color: #526781;
  }
  .it-support-ul {
    background-color: #286abd;
  }
  .digital-ul {
    background-color: #25A25A;
  }
  .telecoms-ul {
    background-color: #BC2C28;
  }
  .web-ul {
    background-color: #79539A;
  }
  .cyber-ul {
    background-color: #DE093F;
  }
  .developer-ul {
    background-color: #A3331D;
  }
  .bespoke-h:hover:hover {
    background-color: #67809F;
  }
  .bespoke-h:hover:hover .triangle {
    border-color: transparent transparent #67809F transparent;
  }
  .it-h:hover .triangle {
    border-color: transparent transparent #4183d7 transparent;
  }
  .digital-h:hover:hover {
    background-color: #00b67b;
  }
  .digital-h:hover:hover .triangle {
    border-color: transparent transparent #00b67b transparent;
  }
  .digital-h:hover > .icon-bar-graph-h:before {
    color: #fff;
  }
  .telecoms-h:hover:hover {
    background-color: #D64541;
  }
  .telecoms-h:hover:hover .triangle {
    border-color: transparent transparent #D64541 transparent;
  }
  .web-h:hover:hover {
    background-color: #926FB1;
  }
  .web-h:hover:hover .triangle {
    border-color: transparent transparent #926FB1 transparent;
  }
  .cyber-h:hover:hover {
    background-color: #F62459;
  }
  .cyber-h:hover:hover .triangle {
    border-color: transparent transparent #F62459 transparent;
  }
  .developer-h:hover:hover {
    background-color: #ce4125;
  }
  .developer-h:hover:hover .triangle {
    border-color: transparent transparent #ce4125 transparent;
  }
}

@media (min-width: 1260px) {
  .nav:hover .triangle {
    border-width: 0 85.5px 35px 85.5px;
  }
}

/* about us footer */
.about-footer {
  padding: 15px 25px;
  background-color: #323544;
  color: #fff;
  text-decoration: none;
  align-items: flex-start;
}

.copyright {
  display: flex;
  align-items: center;
  min-height: 35px;
  padding: 0px;
  background-color: #212330;
  color: #fff;
}

.about {
  text-align: start;
}

.footer-li {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0;
  list-style-type: none;
}

.ftr-li:hover {
  text-decoration: underline;
}

.footer-h3 {
  font-size: 16px;
}

.footer-h4 {
  margin: 0 0 26px;
  padding: 0;
  text-align: left;
}

@media (min-width: 768px) {
  .links {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .footer-li {
    margin-top: 0px;
  }
}

.container {
  display: block;
  border-radius: 15px;
  margin: 0px 15px;
  padding: 30px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  border: 1px solid #ccc;
  top: 0;
  transition: .5s;
}

.wrapper {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:hover {
  transform: translate(0, -10px);
}

.container-banner {
  max-width: 100%;
}

.bespoke-software, .it-support, .dig-marketing, .tele-services, .web-design, .cyber-security, .developer-training {
  text-align: center;
  padding: 0px;
  margin-top: 30px;
  padding: 0px;
}

.services-h3 {
  font-size: 1.3rem;
  margin: 0 0 15px;
  color: #333645;
}

.our-services-p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
  padding: 15px;
}

.bespoke-software:hover, .it-support:hover, .dig-marketing:hover, .tele-services:hover, .web-design:hover, .cyber-security:hover, .developer-training:hover {
  color: #fff;
  border-color: transparent;
  top: -10px;
  transition: .5s ease;
  text-decoration: none;
}

.bespoke-software:hover {
  background-color: #67809F;
}

.bespoke-software:hover #btn-hoki {
  color: #67809F;
  background-color: #fff;
}

.bespoke-software:hover .icon-laptop {
  color: #67809F;
  background-color: #fff;
}

.it-support:hover {
  background-color: #4183d7;
}

.it-support:hover #btn-blue {
  color: #4183d7;
  background-color: #fff;
}

.it-support:hover .icon-display {
  color: #4183d7;
  background-color: #fff;
}

/***********/
.dig-marketing:hover {
  background-color: #00b67b;
}

.dig-marketing:hover .button-green {
  color: #00b67b;
  background-color: #fff;
}

.dig-marketing:hover .icon-bar-graph {
  color: #00b67b;
  background-color: #fff;
}

/*************/
.tele-services:hover {
  background-color: #D64541;
}

.tele-services:hover .button-red {
  color: #D64541;
  background-color: #fff;
}

.tele-services:hover .icon-phone_in_talk {
  color: #ce4125;
  background-color: #fff;
}

/**********/
.web-design:hover {
  background-color: #926FB1;
}

.web-design:hover #btn-purple {
  color: #926FB1;
  background-color: #fff;
}

.web-design:hover .icon-code {
  color: #926FB1;
  background-color: #fff;
}

/**********/
.cyber-security:hover {
  background-color: #F62459;
}

.cyber-security:hover .button-radicalred {
  color: #F62459;
  background-color: #fff;
}

.cyber-security:hover .icon-security {
  color: #F62459;
  background-color: #fff;
}

.developer-training:hover {
  background-color: #CE4125;
}

.developer-training:hover .button-punch {
  color: #CE4125;
  background-color: #fff;
}

.developer-training:hover .icon-scholar {
  color: #CE4125;
  background-color: #fff;
}

.btn-art:hover {
  background-color: #fff;
}

.affiliation-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.welcome {
  background-color: #323544;
  color: #fff;
  text-align: left;
}

.google-trust {
  display: inline-block;
  padding-bottom: 30px;
}

/* News */
.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  background-color: #fff;
  margin-top: 30px;
}

.employees {
  height: 100%;
  width: 100%;
  border-radius: 14px 14px 0px 0px;
}

.read-time {
  display: inline;
  text-transform: uppercase;
  color: rgba(51, 54, 69, 0.5);
  font-size: .85rem;
  vertical-align: middle;
}

.article-details {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 1px;
  padding: 30px;
  border-top: 1px solid #ccc;
  width: 100%;
}

.article-details p {
  margin-bottom: 30px;
}

.flex {
  text-align: left;
}

.email-news {
  background-color: #ddd;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.email {
  justify-content: flex-start;
  width: 100%;
  line-height: 47px;
}

.marketing-agree {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
}

.news-input {
  flex-direction: column;
  width: 100%;
}

.checkbox .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.color-logo {
  filter: grayscale(100%);
}

@media (min-width: 768px) {
  .wrapper {
    width: 750px;
    margin: auto;
  }
  .m-device {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .align-center {
    width: 750px;
    margin: auto;
  }
  .hidden-m {
    display: none;
  }
  .show-m {
    display: block;
  }
  .latest-news {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
  .employees {
    height: 200px;
    width: 345px;
    border-radius: 0px;
  }
  .article-details {
    margin-top: 0px;
  }
  .article-h3 {
    padding: 0px;
  }
  .container-col-1, .container-col-2, .container-col-3 {
    width: 345px;
    border-radius: 0px;
    margin: 0px;
    margin-left: auto;
  }
  .container-col-1 {
    grid-column: 1;
  }
  .container-col-2 {
    grid-column: 2;
  }
  .container-col-3 {
    display: none;
  }
  .hidden {
    display: none;
  }
}

.flex {
  display: block;
}

@media (min-width: 992px) {
  .article-container, .container-col-1, .container-col-2, .container-col-3 {
    width: 455px;
    border-radius: 0px;
  }
  .article-details > p {
    font-size: 0.8125rem;
  }
  .employees {
    width: 455px;
    height: 263px;
  }
  .align-center {
    width: 970px;
  }
  .lg-device {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .bespoke-software {
    display: inherit;
  }
  .welcome-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 15px;
  }
  .welcome-grid .button-black {
    padding: 10px 30px;
    margin-right: 30px;
    margin-bottom: 17px;
  }
  .welcome-1 {
    grid-column-start: 1;
  }
  .welcome-2 {
    grid-column-start: 2;
  }
  #why {
    margin-right: 5px;
  }
}

@media screen and (min-width: 1260px) {
  .wrapper {
    width: 1200px;
  }
  .article-container, .container-col-1, .container-col-2, .container-col-3 {
    width: 370px;
    border-radius: 0px;
  }
  .container-col-3 {
    display: flex;
  }
  .employees {
    width: 370px;
    height: 213px;
  }
  .align-center {
    width: 1200px;
  }
  .xl-device {
    grid-template-columns: repeat(4, 25%);
  }
  .latest-news {
    grid-template-columns: repeat(3, 1fr);
    margin-right: auto;
    margin-left: auto;
  }
}

.btn {
  cursor: pointer;
  text-align: center;
  color: #fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 3px;
  white-space: normal;
}

#google-blue {
  display: block;
  margin-right: 8px;
  margin-bottom: 8px;
  height: 35px;
  width: 208px;
  float: left;
}

#trust-green {
  display: block;
  height: 35px;
  width: 208px;
  float: inline-start;
}

#google-blue:hover {
  background-color: #166AF4;
}

#trust-green:hover {
  background-color: #009B69;
}

.button-green {
  background-color: #00b67b;
  border: 1px solid transparent;
}

.button-blue {
  background-color: #4183d7;
  border: 1px solid transparent;
}

.button-red {
  background-color: #ce4125;
  border: 1px solid transparent;
}

.button-radicalred {
  background-color: #F62459;
  border: 1px solid transparent;
}

.button-valencia {
  background-color: #D64541;
  border: 1px solid transparent;
}

.button-black {
  background-color: #272936;
  border: 1px solid transparent;
  transition: 0.3s;
}

.button-black:hover {
  background-color: #000;
  color: #fff;
}

.button-hoki {
  background-color: #67809F;
  border: 1px solid transparent;
}

.button-purple {
  background-color: #926FB1;
  border: 1px solid transparent;
}

.button-punch {
  background-color: #CE4125;
  border: 1px solid transparent;
}

.pretty-checkbox {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
}

.checkbox-surround {
  width: 52px;
  height: 96px;
}

.hamburger {
  position: relative;
  top: 1px;
  display: inline-block;
  font-size: 23px;
  width: 63px;
  height: 56px;
  padding: 7px 20px 3px;
  background-color: #333645;
  border: none;
  border-radius: 0 3px 3px 0;
  margin-left: 20px;
}

.telephone {
  background-color: transparent;
  border: 0px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?pr74gk");
  src: url("../fonts/icomoon.eot?pr74gk#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?pr74gk") format("truetype"), url("../fonts/icomoon.woff?pr74gk") format("woff"), url("../fonts/icomoon.svg?pr74gk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trending-up:before {
  content: "\e90d";
}

.icon-arrow-shuffle:before {
  content: "\e90e";
}

.icon-group:before {
  content: "\e90f";
}

.icon-file_copy:before {
  content: "\e911";
}

.icon-wifi_calling:before {
  content: "\e912";
}

.icon-chat:before {
  content: "\e90b";
}

.icon-monitor:before {
  content: "\e90c";
}

.icon-security:before {
  content: "\e900";
}

.icon-phone_in_talk:before {
  content: "\e901";
}

.icon-phone_in_talk-b:before {
  content: "\e901";
}

.icon-menu:before {
  content: "\e913";
}

.icon-bar-graph:before {
  content: "\e902";
}

.icon-question-mark:before {
  content: "\e91d";
}

.icon-transfer:before {
  content: "\e905";
}

.icon-headphones:before {
  content: "\e910";
}

.icon-bullhorn:before {
  content: "\e91a";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-phone:before {
  content: "\e942";
}

.icon-phone-b:before {
  content: "\e942";
}

.icon-display:before {
  content: "\e956";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-search:before {
  content: "\e986";
}

.icon-search-b:before {
  content: "\e986";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-meter:before {
  content: "\e9a6";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-earth:before {
  content: "\e9ca";
}

.icon-star:before {
  content: "\e9d9";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-code:before {
  content: "\e91e";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-shopping-cart:before {
  content: "\e914";
}

.icon-handshake-o:before {
  content: "\e915";
}

.icon-ticket:before {
  content: "\e916";
}

.icon-pencil:before {
  content: "\e917";
}

.icon-money:before {
  content: "\e918";
}

.icon-hdd-o:before {
  content: "\e919";
}

.icon-cloud-download:before {
  content: "\e91b";
}

.icon-cogs:before {
  content: "\e91c";
}

.icon-gears:before {
  content: "\e91c";
}

.icon-dashboard:before {
  content: "\e906";
}

.icon-tachometer:before {
  content: "\e906";
}

.icon-group1:before {
  content: "\e907";
}

.icon-money1:before {
  content: "\e908";
}

.icon-handshake-o1:before {
  content: "\e909";
}

.icon-clipboard:before {
  content: "\e90a";
}

.icon-paste:before {
  content: "\e90a";
}

.icon-laptop:before {
  content: "\e904";
}

.icon-laptop-b:before {
  content: "\e904";
}

.icon-scholar:before {
  content: "\e903";
}

.icon-scholar-b:before {
  content: "\e903";
}

.icon-ours {
  display: inline-block;
  color: #fff;
  font-size: 32px;
  padding: 15px;
  border-radius: 50%;
  margin-top: 30px;
}

.icon-laptop {
  background-color: #67809F;
}

.icon-display {
  background-color: #4183d7;
}

.icon-bar-graph {
  background-color: #00b67b;
}

.icon-phone_in_talk {
  background-color: #D64541;
}

.icon-code {
  background-color: #926FB1;
}

.icon-security {
  background-color: #F62459;
}

.icon-scholar {
  background-color: #ce4125;
}

.stars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-search {
  font-size: 32px;
  font-weight: 400;
  color: #333645;
  background-color: transparent;
}

.icon-laptop-h:before {
  content: "\e904";
  color: #67809F;
}

.icon-display-h:before {
  content: "\e956";
  color: #4183d7;
}

.icon-bar-graph-h:before {
  content: "\e902";
  color: #00b67b;
}

.icon-phone-h:before {
  content: "\e901";
  color: #D64541;
}

.icon-code-h:before {
  content: "\e91e";
  color: #926FB1;
}

.icon-code-b:before {
  content: "\e91e";
  color: #fff;
}

.icon-security-h:before {
  content: "\e900";
  color: #F62459;
}

.icon-scholar-h:before {
  content: "\e903";
  color: #ce4125;
}

.nav:hover > [class^="icon-"] {
  color: #fff;
}

.icon-hamburger:before {
  content: "\e913";
  background-color: #333645;
  color: #fff;
  font-size: 1.438rem;
  line-height: 45px;
}

.footer-icons {
  display: flex;
  font-size: 26px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-icons:hover a {
  text-decoration: none;
}

.icon-facebook, .icon-instagram, .icon-twitter, .icon-linkedin2 {
  height: auto;
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon {
  background-color: #212330;
  width: 68px;
  height: 28px;
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon-facebook:hover {
  background-color: #3B5998;
  text-decoration: none;
}

.icon-linkedin2:hover {
  background-color: #0077B5;
  text-decoration: none;
}

.icon-twitter:hover {
  background-color: #00ACED;
  text-decoration: none;
}

.icon-instagram:hover {
  background-color: #D93175;
  text-decoration: none;
}

.min-logo {
  padding-left: 10px;
  padding-bottom: 10px;
}

.nm-logo-med {
  height: 65.6px;
  width: auto;
  position: relative;
  top: 1px;
  left: 1px;
}

.nm-logo-black {
  max-width: 100%;
  display: block;
  padding-left: 0px;
  padding-right: 15px;
  margin-right: auto;
}

.color-logo, .mono-logo {
  height: 70px;
}

@media (max-width: 480px) {
  .footer-icons {
    max-width: 300px;
    max-height: 66px;
  }
  .icon {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .telephone {
    display: none;
  }
}

@media (max-width: 1259px) {
  icon {
    padding: 12px 22px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
