/* fonts for the icons */
/* colours for sass later*/
/* black:#000
   white:#fff
   grey:
   hoki:
  green:
  purple
  radicalred
  punch

  




/* main body/html */
/* anchor links */
/* anchor - underline */
/* .image-container{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  flex:100%;
  align-self:stretch;
} */
/*********************************************************************************************************************************************************************************
/* Container hover effects */
/***********/
/* email sign up */
