
.banner-main{
    overflow: hidden;
    width:auto;
    height: 560px;
  }
  .container-banner{
    position: relative;
    background-blend-mode: hard-light;
    height: 560px;
    width:100%;
  }
  #carousel-banner-1{
    background: linear-gradient(270deg, transparent 25%, #000), url(../../images/banner/banner.png) center/cover no-repeat;
  }
  #carousel-banner-2{
    background: linear-gradient(270deg, transparent 25%, #000), url(../../images/banner/banner-2.jpg) center/cover no-repeat;
  }
  #carousel-banner-3{
    background: linear-gradient(270deg, transparent 25%, #000), url(../../images/banner/banner-3.png) center/cover no-repeat;
  }
  #carousel-banner-4{
    background: linear-gradient(270deg, transparent 25%, #000), url(../../images/banner/banner-4.png) center/cover no-repeat;
  }
  #carousel-banner-5{
    background: linear-gradient(270deg, transparent 25%, #000), url(../../images/banner/banner-5.png) center/cover no-repeat;
  }
  #carousel-banner-6{
    background: linear-gradient(270deg, transparent 25%, #000), url(../../images/banner/banner-6.jpg) center/cover no-repeat;
  }
  #carousel-banner-7{
    background: linear-gradient(270deg, transparent 25%, #000), url(../../images/banner/banner-7.png) center/cover no-repeat;
  }
  .banner{
      display:inline-flex;
      flex-wrap:wrap;
      flex-direction:column;
      justify-content:center;
      text-align:center;
      position:relative;
      padding:125px 15px;
      height: 100%;
      color:#fff;
    }
    .banner-bespoke{
      padding:60px 15px;
    }
    .banner-heading{
      font-size:2.5rem;
      line-height:3rem;
      margin:0 0 1.25rem;
      color:#fff;
      font-weight:600;
      margin-left:auto;
      margin-right:auto;
    }
    .banner-text{
      margin-bottom:0.375rem;
      font-size:1.3rem;
      line-height: 1.75rem;
      font-weight:600;
    }
  
    @media (max-width:562px){
      .btn-banner{
        margin-top:40px;
      }
      .banner-text{
        margin-top:0px;
      }
      .banner-heading{
        margin-bottom:0px;
      }
    }
    @media (min-width:563px){
      .btn-banner{
        margin-top:30px;
      }
    }
    @media (min-width: 992px){
      .banner{
        width:950px;
        display:flex;
        justify-content: start;
        text-align:left;
        margin-left: auto;
        margin-right:auto;
        
      }
    
      .banner-heading{
        font-size: 4rem;
        line-height:5rem;
        margin-bottom:0px;
        padding: 0;
      }
      .banner-text{
        font-size:1.625rem;
        line-height: 2.5rem;
        margin-top: 20px;
      }
    }
    
    @media (min-width: 1260px){
      .banner-bespoke {
        padding-top: 95px;
      }
    }