.float-container{
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
    border:1px solid #ccc;
    top:0;
    transition:.5s;
  }
.align-center{
  margin-left:auto;
  margin-right:auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing:border-box;
}


  // wrapper is for contents that do no need to be 100% width of the page
  .wrapper{
    margin:auto;
    padding-left:15px;
    padding-right:15px;
  }
  .float-container:hover{
    transform: translate(0, -10px);
  }



.banner-main{
  margin-left:-1px;
  width:auto;
}
.container-banner{
  background:url(../images/banner/banner.png) center/cover no-repeat #000;
  background-color: #2f2f2f;
  background-blend-mode:hard-light;
  height:550px;
  width:100%;
}
.banner{
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    position:relative;
    padding:60px 15px;
  
    color:#fff;
  }
  .banner-heading{
    font-size:2.5rem;
    line-height:3rem;
    margin:0 0 1.25rem;
    color:#fff;
    font-weight:600;
    margin-left:auto;
    margin-right:auto;
  }
  .banner-text{
    margin-bottom:0.375rem;
    font-size:1.3rem;
    line-height: 1.75rem;
    font-weight:600;

  }


  .bespoke-software, .it-support, .dig-marketing, .tele-services, .web-design, .cyber-security, .developer-training{
  text-align: center;
  padding:30px;
  margin-top:30px;
  border-radius:15px;

  h3{
    font-size: 1.3rem;
    margin: 0 0 15px;
    color: #333645;
    padding:0px;
  }
  p{
    padding:0px;
    margin-top:0px;
  }
  }

  .our-services-p{
    font-size: .8124rem;
    line-height: 1.375rem;
    margin-bottom: 13px;
    font-weight: 400;
    padding: 15px;
  }

  .show-m{
    display:none;
  }
  ///HOVER EFFECTS
  .bespoke-software:hover, .it-support:hover,.dig-marketing:hover, .tele-services:hover,.web-design:hover, .cyber-security:hover, .developer-training:hover{
    color: $white;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    text-decoration: none;
    .services-h3{
      color:$white;
    }
  }

  // Hover containers for Our Services
  @mixin hover-style($bg-color, $text-color, $btn-bg) {
    &:hover {
      background-color: $bg-color;
      .btn-art {
        color: $text-color;
        background-color: $btn-bg;
      }
      .icon {
        color: $text-color;
        background-color: $btn-bg;
      }
    }
  }
  ///asdsadsad
  .bespoke-software {
    @include hover-style($hoki, $hoki, $white);
  }
  
  .it-support {
    @include hover-style($blue, $blue, $white);
  }
  
  .dig-marketing {
    @include hover-style($green, $green, $white);
  }
  
  .tele-services {
    @include hover-style($valencia, $valencia, $white);
  }
  
  .web-design {
    @include hover-style($purple, $purple, $white);
  }
  
  .cyber-security {
    @include hover-style($radical-red, $radical-red, $white);
  }
  
  .developer-training {
    @include hover-style($red, $red, $white);
  }
  
  // .btn-art:hover{
  //   background-color:#fff;
  // }
  
//affiliation banner
.affiliation-banner{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  overflow-x: clip;
  gap: 80px;
}
.affiliation-banner:first-child{
  margin-left:150px;
}

.mono-logo{
  filter:grayscale(1)
}


.xupes-logo, .survey-logo{
  position:relative;
  width:200px;
  height:36px !important;
  padding-top:17px;
  padding-bottom:17px;
}
.sponsors-banner{
  max-height:70px;
  & img {
    height: 70px;
    }
}

.sponsors-banner > .up{
  width:280px;
}


.triangle-up{
  content:"";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 40px 36px 0 36px !important;
  border-color:$tuna transparent transparent transparent;
  transform: rotate(0deg);
  bottom:40px;
  margin-right:auto;
  z-index:2;
  left:50%;
  transform: translateX(-50%)
}
.triangle-up{
  display:none;
  position:absolute;
  margin-bottom:30px;
}
.triangle-space{
display:none;
 width:100%;
 height:100%;
 position:relative;
 top:-140px;
 height:100px;
}
.box{
  display:none;
  position:absolute;
  z-index: 2;
  width: 280px;
  bottom:130px;
  z-index: 2;
  background-color: #333645;
  color: #fff;
  left:50%;
  transform:translatex(-50%);
  text-align: center;

  p{
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  p, h3{
    padding: 0px 15px;
  }
  h3{
    color:$white;
    font-size:1.125rem;
    padding-bottom:17px;
    margin:0;
  }
  .btn{
    display: block;
    height: 47px;
    margin: auto;
    text-align: center;
    padding-top: 0px;
    line-height: 49px;
    width:240px;
    box-sizing:border-box;
  }

}
.welcome-1, .welcome-2{
  & button, .btn{
    margin-bottom: 10px;
    padding:10px 15px;
    font-weight: 500;
  }
}
.mono-logo:hover{
  filter:grayscale(0);
}
.up{
  padding-right:15px;
  padding-left:15px;
  position:relative;
}

.up:hover{
  .triangle-space{
    display:block;
  }
  .triangle-up{
    display:block;
  }
  .box{
    display: inline-block;
    padding:20px;
    box-sizing:border-box;
  }
  
}


  /* News */
.article-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    column-gap:30px;
    align-content:flex-start;
    align-items:flex-start;
    padding:0px;
    background-color:#fff;
    margin-top:30px;
    position:relative;
  }
  .image-container{
    position:absolute;
    background-color:$blue;
    right:0;
    top:10px;
    color:$white;
    font-weight:600;
    padding:0px 10px;
    font-size:.75rem;
    padding-top:3px;
    padding-bottom:3px;
  }
  .image-container:hover{
    text-decoration: underline;
  }
  .container-col-2{
    .image-container{
      background-color:$red;
    }
  }
  .hidden{
    color: $tuna;
    font-weight: 600;
  }
  .hidden:hover{
    text-decoration: underline;
  }
  .article-h3{
    margin:0px;
    font-size:1rem;
    font-weight: 600;
    padding:0;
  }
  .employees{
    height:100%;
    width:100%;
  }
  .hidden-m{
    font-weight:600;
    font-size:1.625rem;
    color: $tuna;
  }
  .hidden-m:hover{
    text-decoration: underline;
  }
  .read-time{
    display:inline;
    text-transform:uppercase;
    color:rgba(51,54,69,.5);
    font-size: .85rem;
    vertical-align: middle;
    font-weight:400;
  }
  .latest-news{
    & a{
      display:contents;
    }
  }
  .article-details{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    text-align: left;
    margin-top: 1px;
    padding:30px;
    width:100%;
    p{ 
      margin-bottom:30px;
      font-size:0.8125rem;
    }
    .article-h3{
      color:$blue;
    }
    .article-middle-h3{
      color:$red;
    }
    .btn{
      height: 46px;
      display: block;
      box-sizing: border-box;
      margin-left:0px
    }
  }
  .flex{
    text-align: left;
    font-size: 0.875rem;
   strong{
    font-weight:600;
   }
  }

  /////////////////////
  /// 
  /// 

  .color-logo{
    filter:grayscale(100%)
  }
// ==========================================================================
// Media query Start
// ==========================================================================
@media (max-width:389px){
  .block{
    & .float-container{
      padding:30px 30px 50px;
    }
  }
  }

@media (max-width:767px){
 .header-low, .welcome, .email-news{
  padding:15px 20px;
 }

}
@media (min-width:768px){
// Our services section
  .wrapper{
    width:750px;
    margin:auto;
  }
  .m-device{
      display: grid;
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      gap:28px;
      margin-top:30px;
      }

 .cyber-security, .developer-training{
    margin-top:0px;
  }

      .align-center{
      width:750px;
    }
    .hidden-m{
      display:none;
    }
    .show-m{
      display:block;
 
    }
    .show-m:hover{
      text-decoration: underline;
    }
    .our-header{
      display:flex;
      align-items:center;
      justify-content: space-between;
      align-items:baseline;
    }
    
// News
    .latest-news{
      display:grid;
      margin-left:auto;
      margin-right:auto;
      padding-bottom:30px;
      gap:30px;
    }
.employees{
  height:200px;
  width:345px;
  border-radius:0px;
}
.article-details{
    margin-top:0px;
  }

.article-h3{
  padding:0px;
}  
// Bottom 3 containers
.container-col-1, .container-col-2, .container-col-3{
    width:345px;
    border-radius:0px;
    margin:0px;
    margin-left:auto;
  }
 .container-col-1{
  grid-column: 1;
 } 
.container-col-2{
    grid-column: 2;
  }
.container-col-3{
    display:none;
  }
    .hidden{
    display:none;
  }

}
.flex{
  display:block;
}
// ==========================================================================
// Media query End
// ==========================================================================

@media screen and (min-width:992px){
.article-container, .container-col-1, .container-col-2, .container-col-3{
      width:455px;
      border-radius:0px;
    }
  
  .employees{
    width:455px;
    height:263px;
  }
    .align-center{
      width:970px;
    }
  .lg-device{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .float-container{
      height:250px;
    }
  }
  .m-device{
    margin-top:0px;
  }
  .bespoke-software{
    display:inherit;
  }
  
  .news-input{
    display:flex;
    flex-direction:row;
    gap:30px;
  }
  #your-email, #your-name{
  width:450px;
  display:block;
  box-sizing:border-box;
  }
  .welcome-1{
    grid-column-start:1;
  }
  .welcome-2{
    grid-column-start:2;
  }
  #why{
    margin-right:5px;
  }
  .banner{
    width:950px;
    display:flex;
    justify-content: start;
    text-align:left;
    margin-left: auto;
    margin-right:auto;
    
  }

  .banner-heading{
    font-size: 4.2rem;
    line-height:5rem;
    margin-bottom:0px;
  }
  .banner-text{
    font-size:1.625rem;
    line-height: 2.5rem;
    

  }
}

@media (min-width:992px) and (max-width:1259px){
  .banner{
    padding-top:35px;
  }
}

@media screen and (min-width:1260px){
  .wrapper{
    width:1200px;
  }
 
  .article-container, .container-col-1, .container-col-2, .container-col-3{
    width:370px;
    border-radius:0px;
  }
  .container-col-3{
    display:flex;
  }
  .employees{
    width:370px;
    height:213px;
  }
  .align-center{
    width:1200px;
  }
  .xl-device{
    grid-template-columns: repeat(4, 1fr);
    width:1200px;
    .float-container{
      height: 250px;
    }
   & .float-container{
    margin-top: 30px
   }
  }
  .cyber-security{
    & button{
      margin-top:22px;
    }
  }
  .dig-marketing{
    p{margin-bottom:35px;}
  }
  .latest-news{
    grid-template-columns: repeat(3, 1fr);
    grid-gap:25px;
    margin-right:auto;
    margin-left:auto;
  }
  .welcome-grid{
    .button-black{
      margin-right:0px;
    }
  }
  #trust-green{
    margin-top: 30px;
  }
  #your-email, #your-name{
    width:570px;
  }

}