.float-container{
    display:block;
    border-radius:15px;
    padding-top:15px;
    padding-bottom:15px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
    border:1px solid #ccc;
    top:0;
    transition:.5s;
  }
  .align-center{
    padding-right:15px;
    padding-left:15px;
  }
  // wrapper is for contents that do no need to be 100% width of the page
  .wrapper{
    margin:auto;
    padding-left:15px;
    padding-right:15px;
  }
  .float-container:hover{
    transform: translate(0, -10px);
  }



.banner-main{
  margin-left:-1px;
  width:auto;
}
.container-banner{
  background:url(../images/banner/banner.png) center/cover no-repeat #000;
  background-color: #2f2f2f;
  background-blend-mode:hard-light;
  height:550px;
  width:100%;
}
.banner{
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    position:relative;
    padding:60px 15px;
  
    color:#fff;
  }
  .banner-heading{
    font-size:2.5rem;
    line-height:3rem;
    margin:0 0 1.25rem;
    color:#fff;
    font-weight:600;
    margin-left:auto;
    margin-right:auto;
  }
  .banner-text{
    margin-bottom:0.375rem;
    font-size:1.3rem;
    line-height: 1.75rem;
    font-weight:600;

  }


  .bespoke-software, .it-support, .dig-marketing, .tele-services, .web-design, .cyber-security, .developer-training{
  text-align: center;
  padding:30px;
  margin-top:30px;
  height:207px;

  h3{
    font-size: 1.3rem;
    margin: 0 0 15px;
    color: #333645;
    padding:0px;
  }
  p{
    padding:0px;
    margin-top:0px;
  }
  }

  .our-services-p{
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 13px;
    font-weight: 400;
    padding: 15px;
  }

  .show-m{
    display:none;
  }
  ///HOVER EFFECTS
  .bespoke-software:hover, .it-support:hover,.dig-marketing:hover, .tele-services:hover,.web-design:hover, .cyber-security:hover, .developer-training:hover{
    color: #fff;
    border-color: transparent;
    top: -10px;
    transition: .5s ease;
    text-decoration: none;
  }

  // Hover containers for Our Services
  .bespoke-software:hover{
    background-color: #67809F;
    #btn-hoki{
      color:#67809F;
      background-color:#fff;
    }
    .icon-laptop{
      color:#67809F;
      background-color:#fff;
    }
  }
  /*******************/
  .it-support:hover{
    background-color: #4183d7;
    #btn-blue{
      color:#4183d7;
      background-color:#fff;
    }
    .icon-display{
      color:#4183d7;
      background-color:#fff;
    }
  }
  /***********/

.dig-marketing:hover{
    background-color: #00b67b;
    .button-green{
      color:#00b67b;
      background-color:#fff;
    }
    .icon-bar-graph{
      color:#00b67b;
      background-color:#fff;
    }
  }
  
  /*************/ 
  
  .tele-services:hover{
    background-color:$valencia;

    #btn-valencia{
      color:$valencia;
      background-color:#fff;
    }
    .icon-phone_in_talk{
      color:$valencia;
      background-color:#fff;
    }
  }
  
  /**********/
  
  .web-design:hover{
    background-color:#926FB1;
    #btn-purple{
      color:#926FB1;
      background-color:#fff;
    }
    .icon-code{
      color:#926FB1;
      background-color:#fff;
    }
  }
  
  /**********/
  .cyber-security:hover{
    background-color:#F62459;
    .button-radicalred{
      color:#F62459;
      background-color:#fff;
    }
    .icon-security{
      color:#F62459;
      background-color:#fff;
    }
  }
  
  .developer-training:hover{
    background-color:#CE4125;
    .button-red{
      color:#CE4125;
      background-color:#fff;
    }
    .icon-scholar{
      color:#CE4125;
      background-color:#fff;
    }
  }
  // .btn-art:hover{
  //   background-color:#fff;
  // }
  
//affiliation banner
.affiliation-banner{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  overflow-x: clip;
  gap: 80px;
}
.affiliation-banner:first-child{
  margin-left:150px;
}

.mono-logo{
  filter:grayscale(1)
}


.xupes-logo, .survey-logo{
  position:relative;
  width:200px;
  height:36px !important;
  padding-top:17px;
  padding-bottom:17px;
}
.sponsors-banner{
  max-height:70px;
  & img {
    height: 70px;
    }
}

.sponsors-banner > .up{
  width:280px;
}


.triangle-up{
  content:"";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 40px 36px 0 36px !important;
  border-color:$tuna transparent transparent transparent;
  transform: rotate(0deg);
  bottom:40px;
  margin-right:auto;
  z-index:2;
  left:50%;
  transform: translateX(-50%)
}
.triangle-up{
  display:none;
  position:absolute;
  margin-bottom:30px;
}
.triangle-space{
display:none;
 width:100%;
 height:100%;
 position:relative;
 top:-140px;
 height:100px;
}
.box{
  display:none;
  position:absolute;
  z-index: 2;
  width: 280px;
  bottom:130px;
  z-index: 2;
  background-color: #333645;
  color: #fff;
  left:50%;
  transform:translatex(-50%);
  text-align: center;

  p{
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  p, h3{
    padding: 0px 15px;
  }
  h3{
    color:$white;
    font-size:1.125rem;
    padding-bottom:17px;
    margin:0;
  }
  .btn{
    display: block;
    height: 30px;
    margin: 10px 25px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 0px;
    line-height: 49px;
  }
}
.welcome-1{
  .button-black{
    margin-bottom:5px;
  }
}
.mono-logo:hover{
  filter:grayscale(0);
}
.up{
  padding-right:15px;
  padding-left:15px;
  position:relative;
}
// .up-small, .up-medium, .up-large{
//   flex: 1 1 0px;
// }
// .howes-logo{
//   height:38px !important;
//   padding-top:15px;
// }

.up:hover{
  .triangle-space{
    display:block;
  }
  .triangle-up{
    display:block;
  }
  .box{
    display: inline-block;
    padding:5px;
  }
  
}
// Welcome container
.welcome{
    background-color: #323544;
    color:#fff;
    text-align:left;
  }

.google-trust{
  display:inline-block;
  padding-bottom:30px;
}

  /* News */
.article-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    column-gap:30px;
    align-content:flex-start;
    align-items:flex-start;
    padding:0px;
    background-color:#fff;
    margin-top:30px;
    position:relative;
  }
  .image-container{
    position:absolute;
    background-color:$blue;
    right:0;
    top:10px;
    color:$white;
    font-weight:600;
    padding:0px 10px;
  }
  .container-col-2{
    .image-container{
      background-color:$red;
    }
  }
  .article-h3{
    margin:0px;
  }
  .employees{
    height:100%;
    width:100%;
    border-radius:14px 14px 0px 0px;
  }

  .read-time{
    display:inline;
    text-transform:uppercase;
    color:rgba(51,54,69,.5);
    font-size: .85rem;
    vertical-align: middle;
  }
  .latest-news{
    & a{
      display:contents;
    }
  }
  .article-details{
    display:flex;
    flex-wrap:wrap;
    text-align: left;
    margin-top: 1px;
    padding:30px;
    width:100%;
    p{
      margin-bottom:30px;
    }
    .article-h3{
      color:$blue;
    }
    .article-middle-h3{
      color:$red;
    }
  }
  .flex{
    text-align: left;
  }

  /////////////////////
  /// 
  /// 
.email-container{
  background-color: $grey;
  .button-black{
    margin-bottom:30px;
  }
  line-height:32px;
  font-weight:600;
  color:$tuna;
  a{
    text-decoration:underline;
    font-weight:bold;
  }
}
.email-news{
    background-color:inherit;
    padding-left: 15px;
    padding-right: 15px;
    display:flex;
    flex-wrap:wrap;
    text-align:left;
  }
  .email{
    justify-content:flex-start;
    width:100%;
    line-height: 47px;
  }

  .marketing-agree{
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  position: relative;
  float: left;
  margin-right: 20px;
  }
  .news-input{
    flex-direction: column;
    width:100%;
    label:after{
      content: " *";
      color: #d24d57;
    }  
  }

  .privacy-policy{
    display:flex;
    margin-top:25px;
    margin-bottom:25px;
  }
.checkbox-container{
   display:flex;

}
input[type="checkbox"]{
  appearance:none;
  -webkit-appearance:none;
  min-height:26px;
  min-width:26px;
  max-height:26px;
  max-width:26px;
  background-color:$grey;
  border:3px solid $tuna;
  border-radius: 3px;
  cursor:pointer;
  display:flex;
  outline:none;
  margin-right:20px;
}
.label-checkmark{
  font-size: 1rem;
  font-weight:600;

}
input[type="checkbox"]:after{
  font-family: 'icomoon';
  content: "\ea10";
  color:$white;
  font-size:1.2em;
  display:none;
  padding-top:2px;
  padding-left:2px;
}
input[type="checkbox"]:checked{
  background-color:$tuna;
}
input[type="checkbox"]:checked:after{
  display:block;
}

  .color-logo{
    filter:grayscale(100%)
  }
// ==========================================================================
// Media query Start
// ==========================================================================
@media (max-width:389px){
  .block{
    & .float-container{
      padding:30px 30px 50px;
    }
  }
  }

@media (max-width:767px){
 .header-low, .welcome, .email-news{
  padding:15px 20px;
 }

}
@media (min-width:768px){
// Our services section
  .wrapper{
    width:750px;
    margin:auto;
  }
  .m-device{
      display: grid;
      box-sizing: border-box;
      grid-template-columns: repeat(2, 1fr);
      gap:28px;
      margin-top:30px;
      }
  
 .cyber-security, .developer-training{
    margin-top:0px;
  }

      .align-center{
      width:750px;
      margin:auto;
    }
    .hidden-m{
      display:none;
    }
    .show-m{
      display:block;
      padding:0px;
      margin-top:25px;
      margin-bottom:0px !important;
      font-size:1.625rem;
      font-weight:600;
      color:$tuna;
    }
    .our-header{
      display:flex;
      align-items:center;
      justify-content: space-between;
      width:100%;
      padding-right:0px;
      padding-left:0px;
      align-items:baseline;
    }
// News
    .latest-news{
      display:grid;
      grid-template-columns: repeat(2, 50%);
      margin-left:auto;
      margin-right:auto;
      padding-bottom:30px;
    }
.employees{
  height:200px;
  width:345px;
  border-radius:0px;
}
.article-details{
    margin-top:0px;
  }

.article-h3{
  padding:0px;
}  
// Bottom 3 containers
.container-col-1, .container-col-2, .container-col-3{
    width:345px;
    border-radius:0px;
    margin:0px;
    margin-left:auto;
  }
 .container-col-1{
  grid-column: 1;
 } 
.container-col-2{
    grid-column: 2;
  }
.container-col-3{
    display:none;
  }
    .hidden{
    display:none;
  }

}
.flex{
  display:block;
}
// ==========================================================================
// Media query End
// ==========================================================================

@media screen and (min-width:992px){
.article-container, .container-col-1, .container-col-2, .container-col-3{
      width:455px;
      border-radius:0px;
    }
    .article-details > p {
      font-size:0.8125rem;
    }
  .employees{
    width:455px;
    height:263px;
  }
    .align-center{
      width:970px;
    }
  .lg-device{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .float-container{
      height:250px;
    }
  }
  .m-device{
    margin-top:0px;
  }
  .bespoke-software{
    display:inherit;
  }
  .welcome-grid{
    display:grid;
    grid-template-columns: repeat(2, 50%);
    gap:15px;
    h2{
      color:$white;
      font-weight:600;
      font-size:2.25rem;
    }
    .button-black{
      padding:10px 30px;
      margin-right:30px;
      margin-bottom:17px;

    }
  }
  .news-input{
    display:flex;
    flex-direction:row;
    gap:30px;
  }
  #your-email, #your-name{
  width:450px;
  display:block;
  box-sizing:border-box;
  }
  .welcome-1{
    grid-column-start:1;
  }
  .welcome-2{
    grid-column-start:2;
  }
  #why{
    margin-right:5px;
  }
  .banner{
    display:flex;
    justify-content: start;
    text-align:left;
    margin-left: auto;
    margin-right:auto;
  }

  .banner-heading{
    font-size: 4.2rem;
    line-height:5rem;
    margin-bottom:0px;
  }
}


@media screen and (min-width:1260px){
  .wrapper{
    width:1200px;
  }
  .article-container, .container-col-1, .container-col-2, .container-col-3{
    width:370px;
    border-radius:0px;
  }
  .container-col-3{
    display:flex;
  }
  .employees{
    width:370px;
    height:213px;
  }
  .align-center{
    width:1200px;
  }
  .xl-device{
    grid-template-columns: repeat(4, 1fr);
    width:1200px;
    .float-container{
      height: 250px;
    }
   & .float-container{
    margin-top: 30px
   }
  }
  .cyber-security{
    & button{
      margin-top:22px;
    }
  }
  .bespoke-software, .dig-marketing{
    p{margin-bottom:35px;}
  }
  .latest-news{
    grid-template-columns: repeat(3, 1fr);
    margin-right:auto;
    margin-left:auto;
  }
  .welcome-grid{
    .button-black{
      margin-right:0px;
    }
  }
  #your-email, #your-name{
    width:570px;
  }
  // .container-col-3{
  //   display:inherit;
  //   @extend .container-col-2;
  // }
}