.email-container{
    margin-top: 50px;
    background-color: $grey;
    .button-black{
      margin-bottom:15px;
      width:auto;
      font-weight: 400;
      font-size: 1.063rem;
      padding: 5px 15px;
    }
    line-height:32px;
    font-weight:600;
    color:$tuna;
    a{
      text-decoration:underline;
    }
  }
  .email-news{
      background-color:inherit;
      padding:40px 15px;
      display:flex;
      flex-wrap:wrap;
      text-align:left;
      h2{
        font-weight: 400;
        margin: 0;
      }
    }
    .email{
      justify-content:flex-start;
      width:100%;
      height: 47px;
      border: 1px solid $border;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-sizing: border-box;
      margin-bottom: 10px;
      padding: 5px 15px;
      color: #555;
    }
  
    .marketing-agree{
    border-radius: 3px;
    border: 3px solid #333645;
    height: 32px;
    width: 32px;
    position: relative;
    float: left;
    margin-right: 20px;
    }
    .news-input{
      width:100%;
      label:after{
        content: " *";
        color: #d24d57;
      }  
    }

    .privacy-policy{
      display:flex;
      margin-top:5px;
      margin-bottom:25px;
    }
  .checkbox-container{
     display:flex;
  
  }
  input[type="checkbox"]{
    appearance:none;
    -webkit-appearance:none;
    min-height:32px;
    min-width:32px;
    max-height:32px;
    max-width:32px;
    background-color:$grey;
    border:3px solid $tuna;
    border-radius: 3px;
    cursor:pointer;
    display:flex;
    outline:none;
    margin: 0px 20px 0px 0px;
  } 
  .label-checkmark{
    font-size: 1rem;
    font-weight:600;
  
  }
  input[type="checkbox"]:after{
    font-family: 'icomoon';
    content: "\ea10";
    color:$white;
    font-size:1.2em;
    display:none;
    padding-top:5px;
    padding-left:5px;
  }
  input[type="checkbox"]:checked{
    background-color:$tuna;
  }
  input[type="checkbox"]:checked:after{
    display:block;
  }
  