/* about us footer */
.about-footer{
    padding:15px 25px;
    background-color: #323544;
    color:#fff;
    text-decoration: none;
    align-items: flex-start;
}

.copyright{
    display:flex;
    align-items: center;
    min-height:35px;
    padding:0px;
    background-color:#212330;
    color:#fff;
    
}

.about{
  text-align:start;
}

.footer-li{
  display:flex;
  flex-direction: column;
  text-align:start;
  padding:0;
  list-style-type: none;
}
.ftr-li:hover{
  text-decoration:underline;
}
.footer-h3{
  font-size:16px
}
.footer-h4{
  margin:0 0 26px;
  padding:0;
  text-align: left;
}
@media (min-width:768px){
  .links{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .footer-li{
    margin-top:0px;
  }
}