.header{
  transition: .5s ease;
  background-color: $white;
  z-index:99;
}
.header-high{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hamburger{
  cursor:pointer;
}
.hamburger span {
  width: 35px;
  height:3px;
  line-height: 5px;
  background:#FFF;
  display:block;
  margin-left:8px;
  position: absolute;
  transition: transform 0.6s, opacity .8s, top .6s;

}
.burger-top{
  top:30%
}
.burger-bottom{
  top:70%
}
.hamburger.active .burger-top{
  transform: rotate(-315deg);
  top:50%;
}
.hamburger.active .burger-middle{
  
  transform: rotate(-315deg)
}
.hamburger.active .burger-bottom{
  transform: rotate(-225deg);
  top:50%;
}
.search-high{
  display:none;
}
.support-contact{
  margin-left:auto;
  display:none;
}
.nav-bar{
  display:none;
}
.nav-item{
  margin-top: -15px;
  list-style: none;
  text-align: left;
  padding: 0;
  width: 33%;
  margin-top: 18px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.313rem;
  span{
    text-decoration:none;
}
}


.search-low{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  border:1px #ccc;
}
.please-work{
  border: 2px solid $border;
  background-color: $mercury;
  height:41px;
  border-radius:3px;

}

.search-box-2{
  width:100%;
  border:none;
  background:transparent;
  padding-top:13px;
  padding-left:15px;
}
.search-box-2:focus-visible{
  border:none;
  outline:none;
}
// .search-low:focus input[name="search-2"] {
//   border:none;
// } 




.search-box-1{
  height:42px;
  max-width:142px;
  padding:5px 15px 5px;
  border: 1px solid #e5e5e5;
  margin-left:auto;
  flex-grow:1;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 2px solid rgba(0,0,0,.1);
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.search-box-1:focus, .email:focus{
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
}
.search-submit{
  font-size:23px;
  height:56px;
  border:none;
  border-radius:0px 3px 3px 0px;
  cursor: pointer;
}
.header-low-logo{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 11px;
  align-items:center;
  gap:20px;
}

.icon-phone_in_talk2{
  font-size:32px;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.mw{
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 50px;
  margin-top:18px;
}
.sub-menu-banner{
  width:100%;
  display:none;
  text-align:left;
  position:absolute;
}
.triangle{
  display:none;

}
  // Navigation Bar dropdown.
.nav:hover{
  [class^="icon-"]::before {
    color:$white;
  }
    .sub-menu{
      padding: 30px;
      top: 19px;
      width: 100vw;
    }
    .icon-hover{
      color:$white
    }
    
}
.nav:hover{
  .icon-hover{
    color:#fff;
  }
}
.sub-menu{
  display:flex;
  li a {
    display:flex;
    [class^="icon-"]{
      display:flex;
      align-items: center;
    }
  }
}
//  .it-h:hover{
//   background:$blue;
//   .icon-display-h::before{
//     color:$white;
//   }
// }
.sub-menu-banner{
  .link-text:hover{
    text-decoration: underline;
  }
}  

.our-services{
  .viewourwork{
    visibility:hidden;
  }
  h2{
      font-size:43.2px;
      font-weight:600;
      line-height:47.52px;
      color:#333645;
      text-align:start;
      margin:25px 0px 0px;
  }
  h3{
    font-size:26px;
  
    margin: 0 0 15px;
    color:#333645;
  }
}


  @media (min-width:767px){
    .header-high{
      justify-content:space-flex-start;
      padding-top:20px;
      padding-bottom:15px;
      height:110px;
      box-sizing: border-box;
    }
    .search-high{
      display:flex;
      gap:20px;
      width:100%;
      justify-content: flex-start;
      line-height: 64px;
      align-items: center;
    }
    
    .search-submit{
      margin-left:-22px;

      width:63px;
      background-color: #999AA2;
      
    }
   
   .header-low{
    display:none;
   }
    .search{
      display: inline-flex;
      width: 174px;
      justify-content: flex-end;
      border:1px #ccc;
    }
    .search-box{
      width:142px;
      padding:5px 15px;
      border:1px 0 1px 1px #999AA2;
      
    }
    .search-box:focus{
      border-color: #5bc0de;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
    }

  }
  @media (min-width:992px) and (max-width:1259px){
    .search-submit{
      border-radius: 3px;
    }
  }
  @media(min-width:992px){
    .bottom-header{
      background-color: #333645
    }
    .search-box-1{
      display:none;
    }
    .hamburger{
      margin-left:0px;
    }
    .nav-bar{
      display: flex;
      flex-direction: row;
      margin:0;
      padding:0;
      color:#fff;
      line-height:1;
      .nav-title-text{
        font-size:1.125rem;
      }
      small{
        font-size:.625rem;
      }

    }
  
    .support-contact{
      display:block;
    }
    .nav-bar > div{
      flex-basis:100%;
      padding: 19px 0 18px;
      
    }
    .nav > a{
      padding:19px 0 18px;
    }
    // make the header icons all font size 30px
    .nav{
      [class^="icon-"] {
        font-size:23px;
        text-decoration:none !important;
      }
 
      .sub-menu-banner-title{
        width: 100%;
        padding-bottom: 15px;
        margin-top: 15px;
        font-weight: 500;
        color:$white;
        font-size:2rem;
      }
    } 
    .nav:hover{
  
      .sub-menu-banner{
        display:block;
        left:0;
      }
      .triangle{
        display:block;
        content:"";
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0px 67px 36px 67px;
        border-color: transparent transparent #FF4532 transparent;
        transform: rotate(180deg);
        position:absolute;
        z-index:2;
        margin-top:18px;
      }
      .sub-menu{
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        margin-top: -33px;
        list-style: none;
        text-align: left;
        width:970px;
        margin-right:auto;
        margin-left:auto;
        padding: 0;
        flex-direction: row;
      }
      .link-text{
        margin-left:10px;
        
      }
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////
/// DROPDOWN BACKGROUND 
/// ////////////////////////////////////////////////////////////////////////////////////////////////////
    .bespoke-color{
      background-color:$hoki-hover;
    }
    .it-support-color{
      background-color:$blue-hover;
    }
    .digital-color{
      background-color:$green-hover;
    }
    .telecoms-color{
      background-color:$valencia-hover;
    }
    .web-color{
      background-color:$purple-hover;
    }
    .cyber-color{
      background-color:$radical-red-hover;
    }
    .developer-color{
      background-color:$red-hover;
    }




  }
  //////////////////////////////////////////////////////////////////////////
  /// Media Query
  /// //////////////////////////////////////////////////////////////////////
  @media (min-width:1260px){
    .nav:hover{
      .triangle{
        border-width: 0 84.5px 35px 84.5px;
      }
      .sub-menu{
        width:1200px;
      }
    }
    .search-box-1{
      display:inherit;
      margin:0px;
      margin-right:-21px;
      min-width:208px;
      max-width:208px;
    }
    
  }