.header-high{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.search-high{
  display:none;
}
.nav-bar{
  display:none;
}
.nav-item{
  margin-top: -15px;
  list-style: none;
  text-align: left;
  padding: 0;
  width: 33%;
  margin-top: 15px;
}
.search-low{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  border:1px #ccc;
}
.please-work{
  border: 2px solid $border;
  background-color: $mercury;
  height:41px;
  border-radius:3px;

}

.search-box-2{
  width:100%;
  border:none;
  background:transparent;
  height:47px;
}
.search-box-2:focus-visible{
  border:none;
  outline:none;
}
// .search-low:focus input[name="search-2"] {
//   border:none;
// } 


.hamburger{
  position: relative;
  top: 1px;
  display: inline-block;
  font-size: 21px;
  width: 63px;
  height: 56px;
  background-color:#333645;
  border: none;
  border-radius: 3px;
  margin-left:20px;
  
}


.search-box-1{
  height:42px;
  max-width:142px;
  padding:5px 15px 5px;
  border:1px #999AA2;
  margin-left:70px;
  flex-grow:1;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 2px solid rgba(0,0,0,.1);
}
.search-box-1:focus{
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
}
.search-submit{
  font-size:23px;
  height:56px;
  border:none;
  border-radius:0 3px 3px 0;
}
.header-low-logo{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-phone_in_talk2{
  font-size:32px;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.mw{
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100vw;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sub-menu-banner{
  width:100%;
  display:none;
  text-align:left;
  position:absolute;

}
.triangle{
  display:none;

}
  // Navigation Bar dropdown.
.nav:hover{
  [class^="icon-"]::before {
    color:$white;
  }
    .sub-menu{
      padding: 30px;
      top: 19px;
      width: 100vw;
    }
    .icon-hover{
      color:$white
    }
    
}
.nav:hover{
  .icon-hover{
    color:#fff;
  }
}

//  .it-h:hover{
//   background:$blue;
//   .icon-display-h::before{
//     color:$white;
//   }
// }
.sub-menu-banner{
  a:hover{
    text-decoration: underline;
  }
}  

  .our-services{
    .viewourwork{
      visibility:hidden;
    }
    h2{
        font-size:43.2px;
        font-weight:600;
        line-height:47.52px;
        color:#333645;
        text-align:start;
        margin:25px 0px 0px;
    }
    h3{
      font-size:26px;
    
      margin: 0 0 15px;
      color:#333645;
    }
  }


  @media (min-width:767px){
    .header-high{
      justify-content:space-flex-start;
      padding-top:25px;
      padding-bottom:15px;
    }
    .search-high{
      display:flex;
      gap:20px;

    }
    .search-submit{
      margin-left:-20px;

      width:63px;
      background-color: #999AA2;
      
    }
    .hamburger{
      margin:0px;
    }
   .header-low{
    display:none;
   }
    .search{
      display: inline-flex;
      width: 174px;
      justify-content: flex-end;
      border:1px #ccc;
    }
    .search-box{
      width:142px;
      padding:5px 15px;
      border:1px 0 1px 1px #999AA2;
      
    }
    .search-box:focus{
      border-color: #5bc0de;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91,192,222,.6);
    }
  }

  @media(min-width:992px){
    .bottom-header{
      background-color: #333645
    }
    .search-box-1{
      display:none;
    }
    .hamburger{
      margin-left:0px;
    }
    .nav-bar{
      display: flex;
      flex-direction: row;
      margin:0;
      padding:0;
      color:#fff;
      text-transform: uppercase;
      line-height:1;
      span{
        font-size:1.125rem;
      }
      small{
        font-size:.625rem;
      }

    }
    .nav-bar > div{
      flex-basis:100%;
      padding: 19px 0 18px;
      
    }
    .nav > a{
      padding:19px 0 18px;
    }
    // make the header icons all font size 30px
    .nav{
      [class^="icon-"] {
        font-size:23px;

      }
      .sub-menu-banner-title{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 500;
      }
    } 
    .nav:hover{
  
      .sub-menu-banner{
        display:block;
        left:0;
      }
      .triangle{
        display:block;
        content:"";
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0px 70px 36px 70px;
        border-color: transparent transparent #FF4532 transparent;
        transform: rotate(180deg);
        position:absolute;
        z-index:2;
      }
      .sub-menu{
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        margin-top: -33px;
        list-style: none;
        text-align: left;
        width:970px;
        margin-right:auto;
        margin-left:auto;
        padding: 0;
        flex-direction: row;
        
  
      }
      .link-text{
        margin-left:10px;
      }
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////
/// DROPDOWN BACKGROUND 
/// ////////////////////////////////////////////////////////////////////////////////////////////////////
    .bespoke-color{
      background-color:$hoki-hover;
    }
    .it-support-color{
      background-color:$blue-hover;
    }
    .digital-color{
      background-color:$green-hover;
    }
    .telecoms-color{
      background-color:$valencia-hover;
    }
    .web-color{
      background-color:$purple-hover;
    }
    .cyber-color{
      background-color:$radical-red-hover;
    }
    .developer-color{
      background-color:$red-hover;
    }



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//HOVER STATES FOR NAV BAR
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Nav bar drop down & triangles.
    .bespoke-h:hover{
        &:hover {
          background-color: $hoki;
        .triangle{border-color:transparent transparent $hoki transparent;}
      }
    }
      .it-h:hover{
        &:hover {
          background-color: $blue;
        .triangle{border-color:transparent transparent $blue transparent;}
      }
      }
      .digital-h:hover{
        &:hover {
          background-color: $green;
          .triangle {
            border-color: transparent transparent $green transparent;
          }
      }
    }
    .digital-h:hover > .icon-bar-graph-h:before{
      color: $white;
    }
      .telecoms-h:hover{
        &:hover {
          background-color: $valencia;
          .triangle {
            border-color: transparent transparent $valencia transparent;
          }
      }
      }
      .web-h:hover{
              &:hover {
          background-color: $purple;
          .triangle {
            border-color: transparent transparent $purple transparent;
          }
      }
      }
      .cyber-h:hover{
        &:hover {
          background-color: $radical-red;
          .triangle {
            border-color: transparent transparent $radical-red transparent;
          }
      }
    }
      .developer-h:hover{
        &:hover {
          background-color: $red;
          .triangle {
            border-color: transparent transparent $red transparent;
          }
      }
      }
  }

  //////////////////////////////////////////////////////////////////////////
  /// Media Query
  /// //////////////////////////////////////////////////////////////////////
  @media (min-width:1260px){
    .nav:hover{
      .triangle{
        border-width: 0 85.5px 35px 85.5px;
      }
    }
  }