.sidebar{
    width:275px;
    position:absolute;
    top:0;
    left:100%;
    height:100%;
    background:$tuna;
    z-index:100;
    overflow-y:scroll;
    font-size:16px;
    color:$white;
    right:-275px;
    transition:all 0.5s;
    visibility: hidden;
}
#sidebar.active{
    right: 0px;
    opacity: 1;
    visibility: visible;
}
#main-container{
    transition: all 0.5s;
    position: relative;
    right: 0px;
    transition: 0.5s ease;
}
#main-container.active{
    right:275px;
    height:100%;
    
}
.sidebar-inner{
    padding:21px;
}
.sidebar-inner > div{
        padding-top:20px;
}
.sidebar-inner > [class^="sidebar"] > a , .sidebar-contact, .sidebar-left-align [class^="sidebar"] > a{ 
    &:hover {
      background-color: hsla(0, 0%, 100%, .05);
    }
  }
  // Border + background for the main containers in nav
.sidebar-inner > [class^="sidebar"] > a ,.sidebar-contact{
    padding:19px 0 18px;
    border-radius: 3px;
    color:$white;
    text-align:center;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
    display:block;
    width:100%;
}
.sidebar-inner a{
    width:100%;
    display:block;
}
.sidebar-inner > [class^="sidebar"] > a {
    margin-bottom: 20px;
}
.sidebar span[class^="icon"]{
    font-size: 1.438em;
    padding-bottom:10px;
}

.sidebar li  {
    text-decoration:none;
    list-style-type: none;
    padding:10px !important;
}
.sidebar ul{
    padding:0;
    margin:0;
}
// styling for the smaller containers under main containers
.sidebar li {
    border-top: 1px solid hsla(0,0%,100%,.05);
    background-color: rgba(0,0,0,.25);
    padding: 10px;
    padding-inline-start: 0;
    display:block;
}
.sidebar li:not(:first-child) {
    border-top: 1px solid hsla(0,0%,100%,.05);
}
.sidebar li{
    border-bottom: 1px solid rgba(0,0,0,.45);
}

.sidebar  a > small{
    font-size:.625rem;
}
.sidebar-list > ul > li:first-child{
    border-radius:3px 3px 0 0;
}
.sidebar-list > ul > li:last-child{
    border-radius: 0 0 3px 3px;
}

.sidebar-left-align {
    text-align: left;
    li{
    padding:15px 20px !important;
    }
    div > a{
    padding:20px;
    display:block;
    }
}